
<template name="tpl_build">
    <div class="container-fluid edit">
        <div class="row-fluid">
            <div class="sidebar-nav affix">
                {{#each_with_index sidebarList}}
                <ul class="nav nav-list">
                    <li class="nav-header" data-toggle="collapse" data-parent=".sidebar-nav" href="#item{{_key}}">
                        <i class="icon-plus icon-white"></i>
                        {{_key}}
                    </li>
                    <li id="item{{_key}}" class="collapse">
                        {{#each_with_index this}}
                        <div class="lyrow">
                            <input type="text" value="{{this}}">
                            <a href="#remove" class="hide label label-important">
                                <i class="icon-remove icon-white">remove</i>
                            </a>
                            <span class="drag label pull-right">
                                <i class="icon-move"></i>
                                drag
                            </span>
                            <div class="view">
                                adfffff
                            </div>
                        </div>
                        {{/each_with_index}}
                    </li>
                </ul>
                {{/each_with_index}}
            </div>
        </div>
        <div class="demo">

        </div>
    </div>
</template>