
.wh100 {
	width: 100px;
	height: 100px;
}

.parent {
	background-color: #F0F0F0;
	//display: ;
	text-align: right;
	box-orient: vertical;
}

.black_div:hover {
	background-color: #00FF00;
}

.red_div:active {
	background-color: #00FF00;
}

.black_div {
	background-color: #0F0F10;
	border-radius: 10px;
}

.red_div {
	background-color: #FA0000;
}